<div class="container-fluid">
  <div class="row">
    <div class="col-6 offset-3" *ngIf="state$ | async as state">
      <h1 class="text-center">To Do</h1>

      <add-task (addtask)="addTask($event, state)"></add-task>

      <h2 class="text-center mt-5">Tasks</h2>
      <to-do-list
        (completed)="completeTask($event, state)"
        (deleted)="deletedFromTodo($event, state)"
        [tasks]="state.incompleteTasks"
      ></to-do-list>

      <h2 class="text-center mt-5">Completed Tasks</h2>
      <completed-to-do-list
        (incomplete)="markAsIncompleted($event, state)"
        (deleted)="deleteFromCompleted($event, state)"
        [tasks]="state.completedTasks"
      ></completed-to-do-list>
    </div>
  </div>
</div>
