<div class="container">
  <div fxFlex fxLayout="row" fxLayoutAlign="center center">
    <h1>To Do</h1>
  </div>
</div>

<div class="container">
  <div fxFlex fxLayout="row" fxLayoutAlign="center">
    <add-task (addtask)="addTask($event)"></add-task>
  </div>
</div>

<div class="container">
  <div fxFlex fxLayout="row" fxLayoutAlign="center center">
    <h2>Tasks</h2>
    <to-do-list
      (completed)="completeTask($event)"
      (deleted)="deletedFromTodo($event)"
      [tasks]="incompleteTasks"
    ></to-do-list>
  </div>
</div>

<div class="container">
  <div fxFlex fxLayout="row" fxLayoutAlign="center center">
    <h2>Completed Tasks</h2>
    <completed-to-do-list
      [tasks]="completedTasks"
      (incomplete)="markAsIncompleted($event)"
      (deleted)="deleteFromCompleted($event)"
    ></completed-to-do-list>
  </div>
</div>
