<div class="container-fluid">
  <div class="row">
    <div class="col-6 offset-3">
      <h1 class="text-center">To Do</h1>

      <add-task (addtask)="addTask($event)"></add-task>

      <h2 class="text-center mt-5">Tasks</h2>
      <to-do-list
        (completed)="completeTask($event)"
        (deleted)="deletedFromTodo($event)"
        [tasks]="incompleteTasks"
      ></to-do-list>

      <h2 class="text-center mt-5">Completed Tasks</h2>
      <completed-to-do-list
        [tasks]="completedTasks"
        (incomplete)="markAsIncompleted($event)"
        (deleted)="deleteFromCompleted($event)"
      ></completed-to-do-list>
    </div>
  </div>
</div>
