<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <a class="navbar-brand mt-2 mt-lg-0">NGRX TO DO</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" [routerLink]="['todo']"
            >Basic</a
          >
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" [routerLink]="['rxjs']"
            >RXJS IT!</a
          >
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" [routerLink]="['ngrx']"
            >NGRX IT!</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
